@import "../../../scss/variables.scss";
.header{
    height: 100%;
    padding: 0 $main-right-paddings 0 $main-left-padding;
    background-color: $header-bg-color;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
