<form [formGroup]="form">
    <div class="item__header">{{title}}</div>
    <div *ngIf="data" class="item__body">
        <div class="item__input-block">
            <div class="item__login-label">Title</div>
            <div class="item__input-block">
                <span class="item__error-block" *ngIf="form.controls.name.invalid && form.controls.name.touched">
                    <span *ngIf="form.controls.name.errors.required">This field is required</span>
                    <span *ngIf="form.controls.name.errors.maxlength">This field max length is 50</span>
                </span>
                <input class="item__input"
                    [ngClass]="{'item__input--invalid': form.controls.name.invalid && form.controls.name.touched}"
                    type="text"
                    placeholder="Ented title"
                    formControlName="name"
                    name="name"
                />
            </div>
        </div>
        <div class="item__area-block">
            <div class="item__login-label">Description</div>
            <div class="item__input-block">
                <span class="item__error-block" *ngIf="form.controls.description.invalid && form.controls.description.touched">
                    <span *ngIf="form.controls.description.errors.required">This field is required</span>
                    <span *ngIf="form.controls.description.errors.maxlength">This field max length is 500</span>
                </span>
                <textarea class="item__area"
                    [ngClass]="{'item__area--invalid': form.controls.description.invalid && form.controls.description.touched}"
                    type="text"
                    placeholder="Ented description"
                    formControlName="description"
                    name="description">
                </textarea>
            </div>
        </div>

        <app-date-field 
            formControlName="date"
            [control]="form.controls.date"
            placeholder="Entry date"
        ></app-date-field >

        <app-duration-field
            formControlName="duration"
            [control]="form.controls.duration"
            placeholder="Entry duration"
        ></app-duration-field>

        <div class="item__input-block item__input-block--checkbox">
            <div class="item__login-label item__login-label--short">Top Rated</div>
            <div class="item__input-block">
                <input class="item__input item__input--short"
                    type="checkbox"
                    placeholder="Ented topRated"
                    formControlName="isTopRated"/>
            </div>
        </div>
        <app-authors-field
            formControlName="authors"
            [control]="form.controls.authors"
        ></app-authors-field>
    </div>
    <div class="item__footer">
        <button
            [disabled]="!form.valid"
            (click)="clickOk()"
            class="item__button login-popup__button--ok">ok
        </button>
        <button
            class="item__button login-popup__button--cancel"
            (click)="clickCancel()">cancel
        </button>
    </div>
</form>
