@import "../../../scss/main.scss";

.header-logo{
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    &__image{
        background-image: url('../../../assets/icons/play-button.svg');
        background-repeat: no-repeat;
        height: $logo-size;
        width: $logo-size;
        background-size: $logo-size;
        padding: 0 2%;
    }
    &__title{
        color: $header-font-color;
        height: 25px;
        width: 97px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        padding: 0 2%;
        font-size: 0.8rem;
    }
}
