@import "../../../../../scss/main.scss";
.header{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    &__logo{
        flex-grow: 1;
    }
}
