@import "../../../../scss/main.scss";
.login-block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.login-form {
    width: 20vw;
    min-width: 300px;
    height: 30vh;
    min-height: 300px;
    background-color: $app-bg-color;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    &__header{
        flex-basis: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.1rem;
        padding: 0.5rem 1.5rem;
    }
    &__body{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
        padding: 0.5rem;
        font-size: 1rem;
    }
    &__footer{
        flex-basis: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 0.5rem;
    }
    &__button{
        display: block;
        width: 100px;
        height: 30px;
        font-size: 1rem;
        margin-right: 1rem;
        border-radius: 5px;
        text-transform: uppercase;
        background-color: $btn-bg-color;
        color: $header-font-color;
        border: 1px solid $btn-bg-color;
        cursor: pointer;
    }
    &__login-block{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
        padding: 0.5rem 1rem;
    }
    &__password-block{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
        padding: 0.5rem 1rem;
    }
    &__input{
        padding: 0.5rem 1rem;
        width: 100%;
        box-sizing: border-box;
    }
    &__login-label{
        position: relative;

        &::after{
            content: '*required';
            position: absolute;
            right: 0;
            font-size: 0.5rem;
            color: darken($search-bar-text-color, 20%);
            text-transform: lowercase;
        }
    }
    &__forgot-block{
        flex-grow: 1;
        text-align: left;
        padding-left: 20px;
    }
    &__forgot-link{
        color: $btn-bg-color;
    }
}
.login-form__button:disabled, .login-form__button[disabled] {
    background-color: $footer-font-color;
    color: $header-font-color;
    border: 1px solid $footer-font-color;
}
.alert {
    color: red
}
