@import "../../../scss/variables.scss";
.footer{
    height: 100%;
    padding: 0 $main-right-paddings 0 $main-left-padding;
    background-color: $footer-bg-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
