<div *ngIf="courceItem" class="cource-item"
    [ngClass] = "{ 'cource-item--rate': courceItem.topRated === true }"
    [appCourceDate] = "courceItem.crationDate" >
    <div class="cource-item__infoblock">
        <div class="cource-item__header">
            <div class="cource-item__title">
                <h3>Video Cource {{courceItem.id}} {{courceItem.title | uppercase}}
                    <span [ngClass]="{ 'cource-item--star': courceItem.topRated }"></span>
                </h3>
            </div>
            <div class="cource-item__info">
                <div class="icon--clock">{{courceItem.duration | hours }}</div>
                <div class="icon--date">{{courceItem.crationDate | date: 'dd MMM yyyy'}} </div>
            </div>
        </div>
        <div>
            <p>{{courceItem.description}}</p>
        </div>
    </div>
    <div class="cource-item__actionblock">
        <div class="btn btn--edit" (click)="editItem($event)">Edit</div>
        <div class="btn btn--delete" (click)="deleteItem($event)">Delete</div>
    </div>
</div>
