<div class="tool-block">
    <div class="tool-block__wrapper">
        <app-search-bar (searchRes)="getSearchRes($event)"></app-search-bar>
    </div>
    <div class="tool-block__button btn btn--add">Add Cource</div>

</div>
<div *ngIf="editedList" class="items-list">
    <div *ngIf="noDataMessage" class="items-list__load-more">NO DATA Message</div>
    <app-cource-item
        *ngFor="let courceItem of editedList | orderBy: 'crationDate'" 
        [courceItem]="courceItem" 
        (chooseDelete)="getDeleteItem($event)"
        (chooseEdit)="getEditItem($event)">
    </app-cource-item>
    <div class="items-list__load-more">
        <a href="#">load more</a>
    </div>
</div>
