<div class="item__header">{{title}}</div>
<div class="item__body">
    <div class="item__input-block">
        <div class="item__login-label">Title</div>
        <div class="item__input-block">
            <input class="item__input"
                type="text"
                placeholder="Ented title"
                [(ngModel)]="data.name"/>
        </div>
    </div>
    <div class="item__area-block">
        <div class="item__login-label">Description</div>
        <div class="item__input-block">
            <textarea class="item__area"
                type="text"
                placeholder="Ented description"
                [(ngModel)]="data.description">
            </textarea>
        </div>
    </div>
    <div class="item__input-block">
        <div class="item__login-label">Date</div>
        <div class="item__input-block">
            <input class="item__input item__input--short"
                type="text"
                placeholder="Ented date"
                [(ngModel)]="data.date"/>
        </div>
    </div>
    <div class="item__input-block">
        <div class="item__login-label">Duration</div>
        <div class="item__input-wrapper">
            <input class="item__input item__input--short"
                type="number"
                placeholder="Ented duration"
                [(ngModel)]="data.length"/>
            <label>{{data.length | hours}}</label>
        </div>
    </div>
    <div class="item__input-block item__input-block--checkbox">
        <div class="item__login-label item__login-label--short">Top Rated</div>
        <div class="item__input-block">
            <input class="item__input item__input--short"
                type="checkbox"
                placeholder="Ented topRated"
                [(ngModel)]="data.isTopRated"/>
        </div>
    </div>
    <!--
    <div class="item__input-block">
        <div class="item__login-label">Author</div>
        <div class="item__input-block">
            <input class="item__input"
                type="text"
                placeholder="Ented author"
                [(ngModel)]="data.author[0]"/>
        </div>
    </div>
    -->
</div>
<div class="item__footer">
    <button
        class="item__button login-popup__button--ok"
        (click)="clickOk()">ok
    </button>
    <button
        class="item__button login-popup__button--cancel"
        (click)="clickCancel()">cancel
    </button>
</div>
