<div class="item__header">{{popupTitle}}</div>
<div class="item__body">
    <div class="item__input-block">
        <div class="item__login-label">Title</div>
        <div class="item__input-block">
            <input class="item__input"
                type="text"
                placeholder="Ented title"
                [(ngModel)]="popupData.title"/>
        </div>
    </div>
    <div class="item__area-block">
        <div class="item__login-label">Description</div>
        <div class="item__input-block">
            <textarea class="item__area" 
                type="text" 
                placeholder="Ented description" 
                [(ngModel)]="popupData.description">
            </textarea>
        </div>
    </div>
    <div class="item__input-block">
        <div class="item__login-label">Date</div>
        <div class="item__input-block">
            <input class="item__input item__input--short"
                type="text"
                placeholder="Ented date"
                [(ngModel)]="popupData.crationDate"/>
        </div>
    </div>
    <div class="item__input-block">
        <div class="item__login-label">Duration</div>
        <div class="item__input-wrapper">
            <input class="item__input item__input--short"
                type="number"
                placeholder="Ented duration"
                [(ngModel)]="popupData.duration"/>
            <label>{{popupData.duration | hours}}</label>
        </div>
    </div>
    <div class="item__input-block item__input-block--checkbox">
        <div class="item__login-label item__login-label--short">Top Rated</div>
        <div class="item__input-block">
            <input class="item__input item__input--short"
                type="checkbox"
                placeholder="Ented topRated"
                [(ngModel)]="popupData.topRated"/>
        </div>
    </div>
    <div class="item__input-block">
        <div class="item__login-label">{{popupTitle}}</div>
        <div class="item__input-block">
            <input class="item__input"
                type="text"
                placeholder="Ented author"
                [(ngModel)]="popupData.author[0]"/>
        </div>
    </div>
</div>
<div class="item__footer">
    <button 
        class="item__button login-popup__button--ok"
        (click)="clickOk()"
        [disabled]="
        !popupData.title ||
        !popupData.description ||
        !popupData.crationDate ||
        !popupData.duration
        ">ok
    </button>
    <button
        class="item__button login-popup__button--cancel"
        (click)="clickCancel()">cancel
    </button>
</div>