<div class="login-popup">
    <div class="login-popup__header">LOGIN FORM</div>
    <div  class="login-popup__body">
        <div class="login-popup__login-block">
            <div class="login-popup__login-label">E-mail</div>
            <div class="login-popup__input-block">
                <input class="login-popup__input" type="text" placeholder="Enter e-mail" [(ngModel)]="login"/>
            </div>
        </div>
        <div class="login-popup__password-block">
            <div class="login-popup__login-label">Password</div>
            <div class="login-popup__input-block">
                <input class="login-popup__input" type="password" placeholder="Ented password" [(ngModel)]="password"/>
            </div>
        </div>
    </div>
    <div class="login-popup__footer">
        <div class="login-popup__forgot-block">
            <a href="#" class="login-popup__forgot-link">Forgot password?</a>
        </div>
        <button class="login-popup__button login-popup__button--ok" *ngIf="data.buttons.ok" (click)="clickOk()">
            ok
        </button>
        <button class="login-popup__button login-popup__button--cancel" *ngIf="data.buttons.cancel" (click)="clickCancel()">
            cancel
        </button>
    </div>
</div>