<div class="confirmation-popup">
    <div class="confirmation-popup__header"></div>
    <div  class="confirmation-popup__body"><span>{{data.popupData}}</span></div>
    <div  class="confirmation-popup__footer">
        <button class="confirmation-popup__button confirmation-popup__button--ok" *ngIf="data.buttons.ok" (click)="clickOk()">
            ok
        </button>
        <button class="confirmation-popup__button confirmation-popup__button--cancel" *ngIf="data.buttons.cancel" (click)="clickCancel()">
            cancel
        </button>
    </div>
</div>