// colors
$app-bg-color: #fff;
$app-text-color: #000;
$main-bg-color: #F2F3F7;
$header-bg-color: #414452;
$footer-bg-color: #414452;
$section-bg-color: #FFFFFF;
$btn-bg-color: #30B6DD;
$btn-text-color: #fff;
$btn-active-bg-color: #9BC837;
$btn-active-text-color: #fff;
$search-bar-bg-color: #FFFFFF;
$search-bar-text-color: #9295A1;

// sizes
$main-left-padding: 50px;
$main-right-paddings: 50px;
$header-height: 35px;
$footer-height: 35px;
