<div class="root-wrapper">
    <header class="header">
        <section class="header__wrapper">
            <app-header></app-header>
        </section>
    </header>
    <main class="main">
        <section class="main__breadcrumps">
            <div class="main__breadcrumps-wrapper">
                <app-breadcrumps></app-breadcrumps>
            </div>
        </section>
        <section class="main__content">
            <div class="main__content-wrapper">
                <div class="main__content-block">
                    <app-items-list></app-items-list>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <section class="footer__wrapper">
                <app-footer></app-footer>
         </section>
    </footer>
</div>
