@import '../../item.component.scss';

.authors-list {
    position: relative;

    &__dropdown {
        list-style-type: none;
        background-color: #ccc;
        width: 20%;
        position: absolute;
    }

    &__dropdown-item {
        min-width: 100%;
    }
}
.active-authors{
    list-style: none;

    &__item{
        float: right;
    }
}
