<div class="item__input-block">
    <div class="item__login-label">Author</div>
    <div class="item__input-block">
        <span class="item__error-block" *ngIf="control.invalid">
            <span *ngIf="control.errors.noAuthors">No autgors</span>
        </span>
        <ng-select
            [items]="authors$ | async"
            [multiple]="true"
            [closeOnSelect]="false"
            [searchable]="true"
            bindLabel="name"
            placeholder="Select people"
            [ngModel]="value"
            (ngModelChange)="updateValue($event)"
            (blur)="onTouched()">
        </ng-select>
    </div>
</div>
