<div class="items-block">
    <div class="tool-block">
        <div class="tool-block__wrapper">
            <app-search-bar (search)="search($event)"></app-search-bar>
        </div>
        <a class="tool-block__button btn btn--add" routerLink = "new">
            {{'APP.BUTTONS.add-cource' | translate}}
        </a>
    </div>
    <div *ngIf="courceList" class="items-list">
        <app-cource-item
            *ngFor="let courceItem of courceList$ | async"
            [courceItem]="courceItem"
            (chooseDelete)="deleteItem($event)">
        </app-cource-item>
        <div class="items-list__load-more" (click)="loadMore()">
            {{'APP.LIST.load-more' | translate}}
        </div>
    </div>
    <div *ngIf="!courceList" class="items-list__load-more">
        {{'APP.LIST.no-data' | translate}}
    </div>
</div>
