<div class="items-block">
    <div class="tool-block">
        <div class="tool-block__wrapper">
            <app-search-bar (search)="search($event)"></app-search-bar>
        </div>
        <a class="tool-block__button btn btn--add" routerLink = "new">Add Cource</a>
    </div>
    <div *ngIf="courceList" class="items-list">
        <app-cource-item
            *ngFor="let courceItem of courceList"
            [courceItem]="courceItem"
            (chooseDelete)="deleteItem($event)">
        </app-cource-item>
        <div class="items-list__load-more">
            <a href="#" (click)="loadMore($event)">load more</a>
        </div>
    </div>
    <div *ngIf="!courceList" class="items-list__load-more">NO DATA Message</div>
</div>
