@import '../../item.component.scss';
.date {

    &__label{
        color: #000;
    }
    &__block{
        flex-basis: 3rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
        padding: 0.1rem 1rem;
    }
    &__error-block{
        color: red;
    }
    &__input{
        &--invalid{
            background-color: rgb(255, 215, 215)
        }
    }
}
