<div class="header-login-form" *ngIf="autorisation.isAutificated()">
    <div class="header-login-form__input-block">
        <div class="header-login-form__button">{{username | async}}</div>
    </div>
    <div class="header-login-form__button-block">
        <div class="header-login-form__button" (click)="logout()">Log Off</div>
    </div>
</div>
<div class="header-login-form" *ngIf="!autorisation.isAutificated()">
    <div class="header-login-form__button-block">
        <div class="header-login-form__button" (click)="login()">Log in</div>
    </div>
</div>
