<div class="edit-popup__header">{{popupTitle}}</div>
<div class="edit-popup__body">
    <div class="edit-popup__input-block">
        <div class="edit-popup__login-label">Title</div>
        <div class="edit-popup__input-block">
            <input class="edit-popup__input"
                type="text"
                placeholder="Ented title"
                [(ngModel)]="popupData.title"/>
        </div>
    </div>
    <div class="edit-popup__area-block">
        <div class="edit-popup__login-label">Description</div>
        <div class="edit-popup__input-block">
            <textarea class="edit-popup__area" 
                type="text" 
                placeholder="Ented description" 
                [(ngModel)]="popupData.description">
            </textarea>
        </div>
    </div>
    <div class="edit-popup__input-block">
        <div class="edit-popup__login-label">Date</div>
        <div class="edit-popup__input-block">
            <input class="edit-popup__input edit-popup__input--short"
                type="text"
                placeholder="Ented date"
                [(ngModel)]="popupData.crationDate"/>
        </div>
    </div>
    <div class="edit-popup__input-block">
        <div class="edit-popup__login-label">Duration</div>
        <div class="edit-popup__input-wrapper">
            <input class="edit-popup__input edit-popup__input--short"
                type="number"
                placeholder="Ented duration"
                [(ngModel)]="popupData.duration"/>
            <label>{{popupData.duration | hours}}</label>
        </div>
    </div>
    <div class="edit-popup__input-block edit-popup__input-block--checkbox">
        <div class="edit-popup__login-label edit-popup__login-label--short">Top Rated</div>
        <div class="edit-popup__input-block">
            <input class="edit-popup__input edit-popup__input--short"
                type="checkbox"
                placeholder="Ented topRated"
                [(ngModel)]="popupData.topRated"/>
        </div>
    </div>
    <div class="edit-popup__input-block">
        <div class="edit-popup__login-label">{{popupTitle}}</div>
        <div class="edit-popup__input-block">
            <input class="edit-popup__input"
                type="text"
                placeholder="Ented author"
                [(ngModel)]="popupData.author"/>
        </div>
    </div>
</div>
